"*":
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    allowPendingPaneItems: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "Lucario"
    ]
  editor:
    fontFamily: "Hack, DejaVu Sans Mono, Menlo, Droid Sans Mono, monospace"
    fontSize: 13
    preferredLineLength: 90
    softWrap: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "f852c72b-6d6c-4bc8-8103-b0cca4137a4f"
  fonts:
    fontFamily: "Hack"
  "git-diff": {}
  "linter-pylint":
    executablePath: "pipenv pylint"
  "linter-rubocop":
    disableWhenNoConfigFile: true
    useBundler: true
  "linter-shellcheck":
    enableNotice: true
    useProjectCwd: true
  "linter-ui-default": {}
  "one-dark-ui":
    fontSize: 14
    stickyHeaders: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: false
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".gemfile.ruby.source":
  editor:
    tabLength: 2
".python.regexp.source":
  editor:
    tabLength: 4
".python.source":
  editor:
    autoIndentOnPaste: true
